
USE [DncZeus]
GO
/****** Object:  Table [dbo].[data]    Script Date: 02/26/2021 22:50:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[data](
	[name] [nvarchar](128) NOT NULL,
	[dbid] [smallint] NOT NULL,
	[sid] [varbinary](85) NULL,
	[mode] [smallint] NULL,
	[status] [int] NULL,
	[status2] [int] NULL,
	[crdate] [datetime] NOT NULL,
	[reserved] [datetime] NULL,
	[category] [int] NULL,
	[cmptlevel] [tinyint] NOT NULL,
	[filename] [nvarchar](260) NULL,
	[version] [smallint] NULL,
 CONSTRAINT [PK_data] PRIMARY KEY CLUSTERED 
(
	[dbid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[data] ([name], [dbid], [sid], [mode], [status], [status2], [crdate], [reserved], [category], [cmptlevel], [filename], [version]) VALUES (N'master', 1, 0x01, 0, 65544, 1090520064, CAST(0x0000935500980D75 AS DateTime), CAST(0x0000000000000000 AS DateTime), 0, 100, N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\master.mdf', 661)
INSERT [dbo].[data] ([name], [dbid], [sid], [mode], [status], [status2], [crdate], [reserved], [category], [cmptlevel], [filename], [version]) VALUES (N'tempdb', 2, 0x01, 0, 65544, 1090520064, CAST(0x0000ACBD00C45402 AS DateTime), CAST(0x0000000000000000 AS DateTime), 0, 100, N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\tempdb.mdf', 661)
INSERT [dbo].[data] ([name], [dbid], [sid], [mode], [status], [status2], [crdate], [reserved], [category], [cmptlevel], [filename], [version]) VALUES (N'model', 3, 0x01, 0, 65536, 1090519040, CAST(0x0000935500980D75 AS DateTime), CAST(0x0000000000000000 AS DateTime), 0, 100, N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\model.mdf', 661)
GO
print 'Processed 100 total records'
