USE [AfterSales]
GO
/****** Object:  User [saa]    Script Date: 02/25/2021 10:41:17 ******/
CREATE USER [saa] FOR LOGIN [saa] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[MeterView]    Script Date: 02/25/2021 10:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MeterView](
    [id] [int] IDENTITY(1,1) NOT NULL,
	[SaleRoomName] [varchar](50) NULL,
	[AreaID] [int] NOT NULL,
	[AreaName] [varchar](50) NULL,
	[GprsCodeA] [int] NOT NULL,
	[GprsCodeb] [int] NOT NULL,
	[GprsCodec] [int] NOT NULL,
	[UptownID] [int] NOT NULL,
	[UptownName] [varchar](50) NULL,
	[BuildID] [int] NOT NULL,
	[BuildName] [varchar](50) NULL,
	[UnitID] [int] NOT NULL,
	[UnitName] [varchar](50) NULL,
	[UserID] [int] NOT NULL,
	[UserName] [varchar](60) NULL,
	[UserAddr] [varchar](60) NULL,
	[RoomNumber] [varchar](20) NULL,
	[MeterID] [int] NOT NULL,
	[MeterAddr] [char](14) NOT NULL,
	[SYS] [numeric](12, 2) NOT NULL,
	[BYS] [numeric](12, 2) NOT NULL,
	[SYRQ] [datetime] NOT NULL,
	[BYRQ] [datetime] NOT NULL,
	[LRRQ] [datetime] NOT NULL,
	[CBWC] [tinyint] NOT NULL,
	[DataName] [nvarchar](50) NULL
CONSTRAINT [PK_AfterView] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[data]    Script Date: 02/25/2021 10:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[data](
	[name] [nvarchar](128) NOT NULL,
	[dbid] [smallint] NULL,
	[sid] [varbinary](85) NULL,
	[mode] [smallint] NULL,
	[status] [int] NULL,
	[status2] [int] NULL,
	[crdate] [datetime] NOT NULL,
	[reserved] [datetime] NULL,
	[category] [int] NULL,
	[cmptlevel] [tinyint] NOT NULL,
	[filename] [nvarchar](260) NULL,
	[version] [smallint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[data] ([name], [dbid], [sid], [mode], [status], [status2], [crdate], [reserved], [category], [cmptlevel], [filename], [version]) VALUES (N'master', 1, 0x01, 0, 65544, 1090520064, CAST(0x0000935500980D75 AS DateTime), CAST(0x0000000000000000 AS DateTime), 0, 100, N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\master.mdf', 661)
INSERT [dbo].[data] ([name], [dbid], [sid], [mode], [status], [status2], [crdate], [reserved], [category], [cmptlevel], [filename], [version]) VALUES (N'tempdb', 2, 0x01, 0, 65544, 1090520064, CAST(0x0000ACBD00C45402 AS DateTime), CAST(0x0000000000000000 AS DateTime), 0, 100, N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\tempdb.mdf', 661)
INSERT [dbo].[data] ([name], [dbid], [sid], [mode], [status], [status2], [crdate], [reserved], [category], [cmptlevel], [filename], [version]) VALUES (N'model', 3, 0x01, 0, 65536, 1090519040, CAST(0x0000935500980D75 AS DateTime), CAST(0x0000000000000000 AS DateTime), 0, 100, N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\model.mdf', 661)
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[AfterView]    Script Date: 02/25/2021 10:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AfterView](
    [id] [int] IDENTITY(1,1) NOT NULL,
	[DataName] [nvarchar](50) NULL,
	[SaleRoomName] [varchar](50) NULL,
	[UptownNumber] [int] NULL,
	[MeterCount] [int] NULL,
	[CBWC2Count] [int] NULL,
	[SevenDP] [varchar](7) NULL,
	[OneMP] [varchar](7) NULL,
	[TwoMP] [varchar](7) NULL,
	[ThreeMP] [varchar](7) NULL,
	[CBWC5Number] [int] NULL,
	[ToDS] [int] NULL,
	[OneDS] [int] NULL,
	[TwoDS] [int] NULL,
	[ThreeDS] [int] NULL,
	[FourDS] [int] NULL,
	[FiveDS] [int] NULL,
	[SixDS] [int] NULL,
	[SevenDS] [int] NULL,
	[OneWS] [int] NULL,
	[TwoWS] [int] NULL,
	[ThreeWS] [int] NULL,
	[OneMS] [int] NULL,
	[TwoMS] [int] NULL,
	[ThreeMs] [int] NULL,
	[CBWC0Count] [int] NULL,
	[CBWC1Count] [int] NULL,
	[CBWC3Count] [int] NULL,
	[CBWC4Count] [int] NULL
CONSTRAINT [PK_AfterView] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[QueryStatistics]    Script Date: 02/25/2021 10:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[QueryStatistics] 
	AS
BEGIN
    delete from dbo.AfterView
    insert into AfterView([DataName],[SaleRoomName],[UptownNumber],[MeterCount],[CBWC2Count],[SevenDP],[OneMP],[TwoMP]
      ,[ThreeMP],[CBWC5Number],[ToDS],[OneDS],[TwoDS],[ThreeDS],[FourDS],[FiveDS],[SixDS],[SevenDS],[OneWS]
      ,[TwoWS],[ThreeWS],[OneMS],[TwoMS],[ThreeMs],[CBWC0Count],[CBWC1Count],[CBWC3Count],[CBWC4Count])

	SELECT DataName, SaleRoomName ,
    count(distinct UptownID) as UptownNumber,
    count(MeterID) as MeterCount,
    COUNT(case when CBWC=2 then CBWC end) as CBWC2Count,
--LTRIM(STR(COUNT(case when CBWC=2 then CBWC end)*100.0/count(MeterID),6,3))+'%' as 抄表率,
    LTRIM(STR(COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<=7 then BYRQ end)*100.0/count(MeterID),6,3))+'%' as SevenDP,
    LTRIM(STR(COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<=30 then BYRQ end)*100.0/count(MeterID),6,3))+'%' as OneMP,
    LTRIM(STR(COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<=60 then BYRQ end)*100.0/count(MeterID),6,3))+'%' as TwoMP,
    LTRIM(STR(COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<=90 then BYRQ end)*100.0/count(MeterID),6,3))+'%' as ThreeMP,
    COUNT(case when CBWC=5 then CBWC end) as CBWC5Number,
    COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())=0 then BYRQ end) as 'ToDS',--one two three four five six seven eight nine
    COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<0 then BYRQ end) as 'OneDS',
    COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<1 then BYRQ end) as 'TwoDS',
    COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<2 then BYRQ end) as 'ThreeDS',
    COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<3 then BYRQ end) as 'FourDS',
    COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<4 then BYRQ end) as 'FiveDS',
    COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<5 then BYRQ end) as 'SixDS',
    COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<6 then BYRQ end) as 'SevenDS',
    COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<=7 then BYRQ end) as 'OneWS',
    COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<=14 then BYRQ end) as 'TwoWS',
    COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<=21 then BYRQ end) as 'ThreeWS',
    COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<=30 then BYRQ end) as 'OneMS',
    COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<=60 then BYRQ end) as 'TwoMS',
    COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<=90 then BYRQ end) as 'ThreeMs',
    COUNT(case when CBWC=0 then CBWC end) as CBWC0Count,
    COUNT(case when CBWC=1 then CBWC end) as CBWC1Count,
    COUNT(case when CBWC=3 then CBWC end) as CBWC3Count,
    COUNT(case when CBWC=4 then CBWC end) as CBWC4Count
    FROM MeterView 
    GROUP BY DataName, SaleRoomName
--HAVING COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<=120 then BYRQ end)>0
    order by ToDS desc
    select * from dbo.AfterView order by ToDS desc
END
GO
/****** Object:  StoredProcedure [dbo].[QueryMeterView]    Script Date: 02/25/2021 10:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[QueryMeterView]   
	
AS
BEGIN
    declare @name nvarchar(50)
    declare @te nvarchar(50)
    declare @MeterView nvarchar(1000)
    declare dataTemp  cursor for select name from data where name like '%GprsData%'
    open dataTemp
	delete from MeterView
    fetch next from dataTemp into @name
    while @@FETCH_STATUS=0--这里计数会多一个,
    begin
		 set @te= @name		
		 set @MeterView='insert into MeterView( SaleRoomName,AreaID, AreaName,GprsCodeA,GprsCodeb,GprsCodec, UptownID, UptownName, BuildID, BuildName, UnitID, UnitName, UserID, UserName, UserAddr, RoomNumber, MeterID, MeterAddr, SYS, BYS, SYRQ, BYRQ, LRRQ, CBWC,DataName)
		 select SaleRoomName,AreaID, AreaName,GprsCodeA,GprsCodeb,GprsCodec, UptownID, UptownName, BuildID, BuildName, UnitID, UnitName, UserID, UserName, UserAddr, RoomNumber, MeterID, MeterAddr, SYS, BYS, SYRQ, BYRQ, LRRQ, CBWC, '''+@te+''' as DataName
		 FROM  OPENDATASOURCE (''SQLOLEDB'', ''Data Source=222.186.212.106,6788;User ID=sa;Password=BGT%VFR$CDE#'' ).'+@te+'.dbo.MeterView '
		 exec( @MeterView)   
		 FETCH NEXT FROM  dataTemp INTO @name
	end
	select * from MeterView
    close dataTemp
    DEALLOCATE dataTemp
END
GO
