USE [DncZeus]
GO
/****** Object:  Table [dbo].[DncUser]    Script Date: 02/26/2021 17:41:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DncUser](
	[Guid] [uniqueidentifier] NOT NULL,
	[LoginName] [nvarchar](50) NOT NULL,
	[DisplayName] [nvarchar](50) NULL,
	[Password] [nvarchar](255) NULL,
	[Avatar] [nvarchar](255) NULL,
	[UserType] [int] NOT NULL,
	[IsLocked] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[IsDeleted] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedByUserGuid] [uniqueidentifier] NOT NULL,
	[CreatedByUserName] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedByUserGuid] [uniqueidentifier] NULL,
	[ModifiedByUserName] [nvarchar](max) NULL,
	[Description] [nvarchar](800) NULL,
 CONSTRAINT [PK_DncUser] PRIMARY KEY CLUSTERED 
(
	[Guid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DncUser] ([Guid], [LoginName], [DisplayName], [Password], [Avatar], [UserType], [IsLocked], [Status], [IsDeleted], [CreatedOn], [CreatedByUserGuid], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName], [Description]) VALUES (N'd7f32600-64c3-484d-a933-2d4a62bda0bc', N'user001', N'普通用户001', N'111111', N'', 2, 0, 1, 0, CAST(0x07D3967C158EF93E0B AS DateTime2), N'00000000-0000-0000-0000-000000000000', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[DncUser] ([Guid], [LoginName], [DisplayName], [Password], [Avatar], [UserType], [IsLocked], [Status], [IsDeleted], [CreatedOn], [CreatedByUserGuid], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName], [Description]) VALUES (N'684eca5e-2aeb-4478-ba70-8a6b29f78696', N'admin', N'管理员', N'111111', NULL, 1, 0, 1, 0, CAST(0x070000000000F53E0B AS DateTime2), N'00000000-0000-0000-0000-000000000000', NULL, CAST(0x07A0809E66810E3F0B AS DateTime2), NULL, N'', NULL)
INSERT [dbo].[DncUser] ([Guid], [LoginName], [DisplayName], [Password], [Avatar], [UserType], [IsLocked], [Status], [IsDeleted], [CreatedOn], [CreatedByUserGuid], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName], [Description]) VALUES (N'20263da4-aed4-4aba-a6cc-b985c016858e', N'administrator', N'系统管理员', N'111111', N'https://file.iviewui.com/dist/a0e88e83800f138b94d2414621bd9704.png', 0, 0, 1, 0, CAST(0x0777A16EEC7FF53E0B AS DateTime2), N'00000000-0000-0000-0000-000000000000', N'系统管理员', CAST(0x07CFB7B79B80113F0B AS DateTime2), NULL, N'', NULL)
/****** Object:  Table [dbo].[DncMenu]    Script Date: 02/26/2021 17:41:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DncMenu](
	[Guid] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Url] [nvarchar](255) NULL,
	[Alias] [nvarchar](255) NULL,
	[Icon] [nvarchar](128) NULL,
	[ParentGuid] [uniqueidentifier] NULL,
	[ParentName] [nvarchar](max) NULL,
	[Level] [int] NOT NULL,
	[Description] [nvarchar](800) NULL,
	[Sort] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[IsDeleted] [int] NOT NULL,
	[IsDefaultRouter] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedByUserGuid] [uniqueidentifier] NOT NULL,
	[CreatedByUserName] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedByUserGuid] [uniqueidentifier] NULL,
	[ModifiedByUserName] [nvarchar](max) NULL,
	[Component] [nvarchar](255) NULL,
	[HideInMenu] [int] NULL,
	[NotCache] [int] NULL,
	[BeforeCloseFun] [nvarchar](255) NULL,
 CONSTRAINT [PK_DncMenu] PRIMARY KEY CLUSTERED 
(
	[Guid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DncIcon]    Script Date: 02/26/2021 17:41:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DncIcon](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Size] [nvarchar](20) NULL,
	[Color] [nvarchar](50) NULL,
	[Custom] [nvarchar](60) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[IsDeleted] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedByUserGuid] [uniqueidentifier] NOT NULL,
	[CreatedByUserName] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedByUserGuid] [uniqueidentifier] NULL,
	[ModifiedByUserName] [nvarchar](max) NULL,
 CONSTRAINT [PK_DncIcon] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DncIcon] ON
INSERT [dbo].[DncIcon] ([Id], [Code], [Size], [Color], [Custom], [Description], [Status], [IsDeleted], [CreatedOn], [CreatedByUserGuid], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName]) VALUES (1, N'ios-add', NULL, NULL, NULL, NULL, 1, 0, CAST(0x0750736A6F7DF93E0B AS DateTime2), N'00000000-0000-0000-0000-000000000000', N'超级管理员', NULL, NULL, NULL)
INSERT [dbo].[DncIcon] ([Id], [Code], [Size], [Color], [Custom], [Description], [Status], [IsDeleted], [CreatedOn], [CreatedByUserGuid], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName]) VALUES (2, N'md-paper-plane', NULL, N'#0285FF', NULL, NULL, 1, 0, CAST(0x0774667D6F7DF93E0B AS DateTime2), N'00000000-0000-0000-0000-000000000000', N'超级管理员', CAST(0x07CC3F97897DF93E0B AS DateTime2), NULL, N'')
INSERT [dbo].[DncIcon] ([Id], [Code], [Size], [Color], [Custom], [Description], [Status], [IsDeleted], [CreatedOn], [CreatedByUserGuid], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName]) VALUES (3, N'ios-partly-sunny', NULL, N'#FA9B07', NULL, NULL, 1, 0, CAST(0x07E8677D6F7DF93E0B AS DateTime2), N'00000000-0000-0000-0000-000000000000', N'超级管理员', CAST(0x07C5928D7F7DF93E0B AS DateTime2), NULL, N'')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
SET IDENTITY_INSERT [dbo].[DncIcon] OFF
/****** Object:  Table [dbo].[data]    Script Date: 02/26/2021 17:41:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[data](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](128) NOT NULL,
	[dbid] [smallint] NULL,
	[sid] [varbinary](85) NULL,
	[mode] [smallint] NULL,
	[status] [int] NULL,
	[status2] [int] NULL,
	[crdate] [datetime] NOT NULL,
	[reserved] [datetime] NULL,
	[category] [int] NULL,
	[cmptlevel] [tinyint] NOT NULL,
	[filename] [nvarchar](260) NULL,
	[version] [smallint] NULL,
 CONSTRAINT [PK_data] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[data] ON
INSERT [dbo].[data] ([id], [name], [dbid], [sid], [mode], [status], [status2], [crdate], [reserved], [category], [cmptlevel], [filename], [version]) VALUES (1, N'master', 1, 0x01, 0, 65544, 1090520064, CAST(0x0000935500980D75 AS DateTime), CAST(0x0000000000000000 AS DateTime), 0, 100, N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\master.mdf', 661)
INSERT [dbo].[data] ([id], [name], [dbid], [sid], [mode], [status], [status2], [crdate], [reserved], [category], [cmptlevel], [filename], [version]) VALUES (2, N'tempdb', 2, 0x01, 0, 65544, 1090520064, CAST(0x0000ACBD00C45402 AS DateTime), CAST(0x0000000000000000 AS DateTime), 0, 100, N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\tempdb.mdf', 661)
INSERT [dbo].[data] ([id], [name], [dbid], [sid], [mode], [status], [status2], [crdate], [reserved], [category], [cmptlevel], [filename], [version]) VALUES (3, N'model', 3, 0x01, 0, 65536, 1090519040, CAST(0x0000935500980D75 AS DateTime), CAST(0x0000000000000000 AS DateTime), 0, 100, N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\model.mdf', 661)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[data] OFF
/****** Object:  Table [dbo].[AfterView]    Script Date: 02/26/2021 17:41:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AfterView](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[DataName] [nvarchar](50) NULL,
	[SaleRoomName] [varchar](50) NULL,
	[UptownNumber] [int] NULL,
	[MeterCount] [int] NULL,
	[CBWC2Count] [int] NULL,
	[SevenDP] [varchar](7) NULL,
	[OneMP] [varchar](7) NULL,
	[TwoMP] [varchar](7) NULL,
	[ThreeMP] [varchar](7) NULL,
	[CBWC5Number] [int] NULL,
	[ToDS] [int] NULL,
	[OneDS] [int] NULL,
	[TwoDS] [int] NULL,
	[ThreeDS] [int] NULL,
	[FourDS] [int] NULL,
	[FiveDS] [int] NULL,
	[SixDS] [int] NULL,
	[SevenDS] [int] NULL,
	[OneWS] [int] NULL,
	[TwoWS] [int] NULL,
	[ThreeWS] [int] NULL,
	[OneMS] [int] NULL,
	[TwoMS] [int] NULL,
	[ThreeMs] [int] NULL,
	[CBWC0Count] [int] NULL,
	[CBWC1Count] [int] NULL,
	[CBWC3Count] [int] NULL,
	[CBWC4Count] [int] NULL,
 CONSTRAINT [PK_AfterView] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[AfterView] ON
INSERT [dbo].[AfterView] ([id], [DataName], [SaleRoomName], [UptownNumber], [MeterCount], [CBWC2Count], [SevenDP], [OneMP], [TwoMP], [ThreeMP], [CBWC5Number], [ToDS], [OneDS], [TwoDS], [ThreeDS], [FourDS], [FiveDS], [SixDS], [SevenDS], [OneWS], [TwoWS], [ThreeWS], [OneMS], [TwoMS], [ThreeMs], [CBWC0Count], [CBWC1Count], [CBWC3Count], [CBWC4Count]) VALUES (20664, N'GprsData_FJLongYan', NULL, 9, 27590, 27411, N'96.136%', N'97.292%', N'98.474%', N'98.804%', 0, 20440, 24873, 25867, 26204, 26316, 26417, 26485, 26524, 26524, 26610, 26701, 26843, 27169, 27260, 179, 0, 0, 0)
INSERT [dbo].[AfterView] ([id], [DataName], [SaleRoomName], [UptownNumber], [MeterCount], [CBWC2Count], [SevenDP], [OneMP], [TwoMP], [ThreeMP], [CBWC5Number], [ToDS], [OneDS], [TwoDS], [ThreeDS], [FourDS], [FiveDS], [SixDS], [SevenDS], [OneWS], [TwoWS], [ThreeWS], [OneMS], [TwoMS], [ThreeMs], [CBWC0Count], [CBWC1Count], [CBWC3Count], [CBWC4Count]) VALUES (20665, N'GprsData_HNYZNingYuan', NULL, 98, 18298, 18289, N'98.869%', N'99.218%', N'99.432%', N'99.470%', 0, 17011, 17845, 17960, 18002, 18015, 18022, 18032, 18091, 18091, 18114, 18131, 18155, 18194, 18201, 9, 0, 0, 0)
INSERT [dbo].[AfterView] ([id], [DataName], [SaleRoomName], [UptownNumber], [MeterCount], [CBWC2Count], [SevenDP], [OneMP], [TwoMP], [ThreeMP], [CBWC5Number], [ToDS], [OneDS], [TwoDS], [ThreeDS], [FourDS], [FiveDS], [SixDS], [SevenDS], [OneWS], [TwoWS], [ThreeWS], [OneMS], [TwoMS], [ThreeMs], [CBWC0Count], [CBWC1Count], [CBWC3Count], [CBWC4Count]) VALUES (20666, N'GprsData_HBWHJiangXia', NULL, 14, 17894, 17852, N'98.117%', N'99.184%', N'99.765%', N'99.765%', 0, 16305, 17167, 17379, 17441, 17493, 17516, 17542, 17557, 17557, 17601, 17634, 17748, 17852, 17852, 42, 0, 0, 0)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
SET IDENTITY_INSERT [dbo].[AfterView] OFF
/****** Object:  Table [dbo].[adatabase]    Script Date: 02/26/2021 17:41:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[adatabase](
	[name] [sysname] NOT NULL,
	[dbid] [smallint] NULL,
	[sid] [varbinary](85) NULL,
	[mode] [smallint] NULL,
	[status] [int] NULL,
	[status2] [int] NULL,
	[crdate] [datetime] NOT NULL,
	[reserved] [datetime] NULL,
	[category] [int] NULL,
	[cmptlevel] [tinyint] NOT NULL,
	[filename] [nvarchar](260) NULL,
	[version] [smallint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[adatabase] ([name], [dbid], [sid], [mode], [status], [status2], [crdate], [reserved], [category], [cmptlevel], [filename], [version]) VALUES (N'master', 1, 0x01, 0, 65544, 1090520064, CAST(0x0000935500980D75 AS DateTime), CAST(0x0000000000000000 AS DateTime), 0, 100, N'D:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\master.mdf', 655)
INSERT [dbo].[adatabase] ([name], [dbid], [sid], [mode], [status], [status2], [crdate], [reserved], [category], [cmptlevel], [filename], [version]) VALUES (N'tempdb', 2, 0x01, 0, 65544, 1090520064, CAST(0x0000ACB000BAD86E AS DateTime), CAST(0x0000000000000000 AS DateTime), 0, 100, N'D:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\tempdb.mdf', 655)
INSERT [dbo].[adatabase] ([name], [dbid], [sid], [mode], [status], [status2], [crdate], [reserved], [category], [cmptlevel], [filename], [version]) VALUES (N'model', 3, 0x01, 0, 65536, 1090519040, CAST(0x0000935500980D75 AS DateTime), CAST(0x0000000000000000 AS DateTime), 0, 100, N'D:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\model.mdf', 655)
/****** Object:  Table [dbo].[DncRole]    Script Date: 02/26/2021 17:41:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DncRole](
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[IsDeleted] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedByUserGuid] [uniqueidentifier] NOT NULL,
	[CreatedByUserName] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedByUserGuid] [uniqueidentifier] NULL,
	[ModifiedByUserName] [nvarchar](max) NULL,
	[IsSuperAdministrator] [bit] NOT NULL,
	[IsBuiltin] [bit] NOT NULL,
 CONSTRAINT [PK_DncRole] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DncRole] ([Code], [Name], [Description], [Status], [IsDeleted], [CreatedOn], [CreatedByUserGuid], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName], [IsSuperAdministrator], [IsBuiltin]) VALUES (N'9PeVLUMU', N'超级管理员', N'', 1, 0, CAST(0x079D2753FB8DF93E0B AS DateTime2), N'00000000-0000-0000-0000-000000000000', N'超级管理员', NULL, NULL, NULL, 1, 1)
INSERT [dbo].[DncRole] ([Code], [Name], [Description], [Status], [IsDeleted], [CreatedOn], [CreatedByUserGuid], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName], [IsSuperAdministrator], [IsBuiltin]) VALUES (N'C7kPHIwu', N'普通用户', N'', 1, 0, CAST(0x0775F6D95B85F53E0B AS DateTime2), N'00000000-0000-0000-0000-000000000000', N'超级管理员', CAST(0x07618FBB077D143F0B AS DateTime2), NULL, N'管理员', 0, 0)
INSERT [dbo].[DncRole] ([Code], [Name], [Description], [Status], [IsDeleted], [CreatedOn], [CreatedByUserGuid], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName], [IsSuperAdministrator], [IsBuiltin]) VALUES (N'WPbv96HC', N'管理员', N'', 1, 0, CAST(0x0797326F5685F53E0B AS DateTime2), N'00000000-0000-0000-0000-000000000000', N'超级管理员', CAST(0x0779A2B4097D143F0B AS DateTime2), NULL, N'管理员', 0, 1)
/****** Object:  Table [dbo].[MeterView]    Script Date: 02/26/2021 17:41:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MeterView](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[SaleRoomName] [varchar](50) NULL,
	[AreaID] [int] NOT NULL,
	[AreaName] [varchar](50) NULL,
	[GprsCodeA] [int] NOT NULL,
	[GprsCodeb] [int] NOT NULL,
	[GprsCodec] [int] NOT NULL,
	[UptownID] [int] NOT NULL,
	[UptownName] [varchar](50) NULL,
	[BuildID] [int] NOT NULL,
	[BuildName] [varchar](50) NULL,
	[UnitID] [int] NOT NULL,
	[UnitName] [varchar](50) NULL,
	[UserID] [int] NOT NULL,
	[UserName] [varchar](60) NULL,
	[UserAddr] [varchar](60) NULL,
	[RoomNumber] [varchar](20) NULL,
	[MeterID] [int] NOT NULL,
	[MeterAddr] [char](14) NOT NULL,
	[SYS] [numeric](12, 2) NOT NULL,
	[BYS] [numeric](12, 2) NOT NULL,
	[SYRQ] [datetime] NOT NULL,
	[BYRQ] [datetime] NOT NULL,
	[LRRQ] [datetime] NOT NULL,
	[CBWC] [tinyint] NOT NULL,
	[DataName] [nvarchar](50) NULL,
 CONSTRAINT [PK_MeterView] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DncUserRoleMapping]    Script Date: 02/26/2021 17:41:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DncUserRoleMapping](
	[UserGuid] [uniqueidentifier] NOT NULL,
	[RoleCode] [nvarchar](50) NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DncUserRoleMapping] PRIMARY KEY CLUSTERED 
(
	[UserGuid] ASC,
	[RoleCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DncUserRoleMapping] ([UserGuid], [RoleCode], [CreatedOn]) VALUES (N'd7f32600-64c3-484d-a933-2d4a62bda0bc', N'C7kPHIwu', CAST(0x071A43F26E7A143F0B AS DateTime2))
INSERT [dbo].[DncUserRoleMapping] ([UserGuid], [RoleCode], [CreatedOn]) VALUES (N'684eca5e-2aeb-4478-ba70-8a6b29f78696', N'WPbv96HC', CAST(0x07C1CDCEFB8FF93E0B AS DateTime2))
INSERT [dbo].[DncUserRoleMapping] ([UserGuid], [RoleCode], [CreatedOn]) VALUES (N'20263da4-aed4-4aba-a6cc-b985c016858e', N'9PeVLUMU', CAST(0x072AB3454490F93E0B AS DateTime2))
/****** Object:  Table [dbo].[DncPermission]    Script Date: 02/26/2021 17:41:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DncPermission](
	[Code] [nvarchar](20) NOT NULL,
	[MenuGuid] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ActionCode] [nvarchar](80) NOT NULL,
	[Icon] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[IsDeleted] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[CreatedByUserGuid] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedByUserName] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedByUserGuid] [uniqueidentifier] NULL,
	[ModifiedByUserName] [nvarchar](max) NULL,
 CONSTRAINT [PK_DncPermission] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DncPermission] ([Code], [MenuGuid], [Name], [ActionCode], [Icon], [Description], [Status], [IsDeleted], [Type], [CreatedByUserGuid], [CreatedOn], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName]) VALUES (N'19jkrvOR', N'd9d8f137-0b12-4b92-b044-9f148be4b0cc', N'查看', N'view', NULL, N'', 1, 1, 0, N'20263da4-aed4-4aba-a6cc-b985c016858e', CAST(0x074E5903638B18420B AS DateTime2), N'系统管理员', NULL, NULL, NULL)
INSERT [dbo].[DncPermission] ([Code], [MenuGuid], [Name], [ActionCode], [Icon], [Description], [Status], [IsDeleted], [Type], [CreatedByUserGuid], [CreatedOn], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName]) VALUES (N'2EKdG4Ir', N'2f458429-3976-408f-8a4f-aacbfe7d82cc', N'删除', N'delete', NULL, N'', 1, 0, 1, N'00000000-0000-0000-0000-000000000000', CAST(0x077BEE20D080113F0B AS DateTime2), N'超级管理员', NULL, NULL, NULL)
INSERT [dbo].[DncPermission] ([Code], [MenuGuid], [Name], [ActionCode], [Icon], [Description], [Status], [IsDeleted], [Type], [CreatedByUserGuid], [CreatedOn], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName]) VALUES (N'30K14RFe', N'aebda189-0bf8-4f4e-8a7b-7324e9f76bed', N'查看', N'tools_methods_page_view', NULL, N'', 1, 0, 0, N'00000000-0000-0000-0000-000000000000', CAST(0x0745AD1ACD8D103F0B AS DateTime2), N'超级管理员', NULL, NULL, NULL)
/****** Object:  StoredProcedure [dbo].[QueryStatistics]    Script Date: 02/26/2021 17:41:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[QueryStatistics] 
	AS
BEGIN
    delete from dbo.AfterView
    insert into AfterView([DataName],[SaleRoomName],[UptownNumber],[MeterCount],[CBWC2Count],[SevenDP],[OneMP],[TwoMP]
      ,[ThreeMP],[CBWC5Number],[ToDS],[OneDS],[TwoDS],[ThreeDS],[FourDS],[FiveDS],[SixDS],[SevenDS],[OneWS]
      ,[TwoWS],[ThreeWS],[OneMS],[TwoMS],[ThreeMs],[CBWC0Count],[CBWC1Count],[CBWC3Count],[CBWC4Count])

	SELECT DataName, SaleRoomName ,
    count(distinct UptownID) as UptownNumber,
    count(MeterID) as MeterCount,
    COUNT(case when CBWC=2 then CBWC end) as CBWC2Count,
--LTRIM(STR(COUNT(case when CBWC=2 then CBWC end)*100.0/count(MeterID),6,3))+'%' as 抄表率,
    LTRIM(STR(COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<=7 then BYRQ end)*100.0/count(MeterID),6,3))+'%' as SevenDP,
    LTRIM(STR(COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<=30 then BYRQ end)*100.0/count(MeterID),6,3))+'%' as OneMP,
    LTRIM(STR(COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<=60 then BYRQ end)*100.0/count(MeterID),6,3))+'%' as TwoMP,
    LTRIM(STR(COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<=90 then BYRQ end)*100.0/count(MeterID),6,3))+'%' as ThreeMP,
    COUNT(case when CBWC=5 then CBWC end) as CBWC5Number,
    COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())=0 then BYRQ end) as 'ToDS',--one two three four five six seven eight nine
    COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<2 then BYRQ end) as 'OneDS',
    COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<3 then BYRQ end) as 'TwoDS',
    COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<4 then BYRQ end) as 'ThreeDS',
    COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<5 then BYRQ end) as 'FourDS',
    COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<6 then BYRQ end) as 'FiveDS',
    COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<7 then BYRQ end) as 'SixDS',
    COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<8 then BYRQ end) as 'SevenDS',
    COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<=7 then BYRQ end) as 'OneWS',
    COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<=14 then BYRQ end) as 'TwoWS',
    COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<=21 then BYRQ end) as 'ThreeWS',
    COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<=30 then BYRQ end) as 'OneMS',
    COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<=60 then BYRQ end) as 'TwoMS',
    COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<=90 then BYRQ end) as 'ThreeMs',
    COUNT(case when CBWC=0 then CBWC end) as CBWC0Count,
    COUNT(case when CBWC=1 then CBWC end) as CBWC1Count,
    COUNT(case when CBWC=3 then CBWC end) as CBWC3Count,
    COUNT(case when CBWC=4 then CBWC end) as CBWC4Count
    FROM MeterView 
    GROUP BY DataName, SaleRoomName
--HAVING COUNT(case when datediff(dd,convert(varchar(100),BYRQ,23),getdate())<=120 then BYRQ end)>0
    order by ToDS desc
    
    select * from dbo.AfterView order by ToDS desc
END
GO
/****** Object:  StoredProcedure [dbo].[QueryMeterView]    Script Date: 02/26/2021 17:41:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[QueryMeterView]   
	
AS
BEGIN
    declare @name nvarchar(50)
    declare @te nvarchar(50)
    declare @MeterView nvarchar(1000)
    declare dataTemp  cursor for select name from data where name like '%GprsData%'
    open dataTemp
	delete from MeterView
    fetch next from dataTemp into @name
    while @@FETCH_STATUS=0--这里计数会多一个,
    begin
		 set @te= @name		
		 set @MeterView='insert into MeterView( SaleRoomName,AreaID, AreaName,GprsCodeA,GprsCodeb,GprsCodec, UptownID, UptownName, BuildID, BuildName, UnitID, UnitName, UserID, UserName, UserAddr, RoomNumber, MeterID, MeterAddr, SYS, BYS, SYRQ, BYRQ, LRRQ, CBWC,DataName)
		 select SaleRoomName,AreaID, AreaName,GprsCodeA,GprsCodeb,GprsCodec, UptownID, UptownName, BuildID, BuildName, UnitID, UnitName, UserID, UserName, UserAddr, RoomNumber, MeterID, MeterAddr, SYS, BYS, SYRQ, BYRQ, LRRQ, CBWC, '''+@te+''' as DataName
		 FROM  OPENDATASOURCE (''SQLOLEDB'', ''Data Source=222.186.212.106,6788;User ID=sa;Password=BGT%VFR$CDE#'' ).'+@te+'.dbo.MeterView '
		 exec( @MeterView)   
		 FETCH NEXT FROM  dataTemp INTO @name
	end
	select * from MeterView
    close dataTemp
    DEALLOCATE dataTemp
END
GO
/****** Object:  Table [dbo].[DncRolePermissionMapping]    Script Date: 02/26/2021 17:41:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DncRolePermissionMapping](
	[RoleCode] [nvarchar](50) NOT NULL,
	[PermissionCode] [nvarchar](20) NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DncRolePermissionMapping] PRIMARY KEY CLUSTERED 
(
	[RoleCode] ASC,
	[PermissionCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DncRolePermissionMapping] ([RoleCode], [PermissionCode], [CreatedOn]) VALUES (N'C7kPHIwu', N'I2U5lW40', CAST(0x074E7A49D480113F0B AS DateTime2))
INSERT [dbo].[DncRolePermissionMapping] ([RoleCode], [PermissionCode], [CreatedOn]) VALUES (N'C7kPHIwu', N'N76RWAiv', CAST(0x07308049D480113F0B AS DateTime2))
INSERT [dbo].[DncRolePermissionMapping] ([RoleCode], [PermissionCode], [CreatedOn]) VALUES (N'C7kPHIwu', N'Nry7I8go', CAST(0x074B8849D480113F0B AS DateTime2))
/****** Object:  ForeignKey [FK_DncPermission_DncMenu_MenuGuid]    Script Date: 02/26/2021 17:41:25 ******/
ALTER TABLE [dbo].[DncPermission]  WITH CHECK ADD  CONSTRAINT [FK_DncPermission_DncMenu_MenuGuid] FOREIGN KEY([MenuGuid])
REFERENCES [dbo].[DncMenu] ([Guid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DncPermission] CHECK CONSTRAINT [FK_DncPermission_DncMenu_MenuGuid]
GO
/****** Object:  ForeignKey [FK_DncRolePermissionMapping_DncPermission_PermissionCode]    Script Date: 02/26/2021 17:41:25 ******/
ALTER TABLE [dbo].[DncRolePermissionMapping]  WITH CHECK ADD  CONSTRAINT [FK_DncRolePermissionMapping_DncPermission_PermissionCode] FOREIGN KEY([PermissionCode])
REFERENCES [dbo].[DncPermission] ([Code])
GO
ALTER TABLE [dbo].[DncRolePermissionMapping] CHECK CONSTRAINT [FK_DncRolePermissionMapping_DncPermission_PermissionCode]
GO
/****** Object:  ForeignKey [FK_DncRolePermissionMapping_DncRole_RoleCode]    Script Date: 02/26/2021 17:41:25 ******/
ALTER TABLE [dbo].[DncRolePermissionMapping]  WITH CHECK ADD  CONSTRAINT [FK_DncRolePermissionMapping_DncRole_RoleCode] FOREIGN KEY([RoleCode])
REFERENCES [dbo].[DncRole] ([Code])
GO
ALTER TABLE [dbo].[DncRolePermissionMapping] CHECK CONSTRAINT [FK_DncRolePermissionMapping_DncRole_RoleCode]
GO
/****** Object:  ForeignKey [FK_DncUserRoleMapping_DncRole_RoleCode]    Script Date: 02/26/2021 17:41:25 ******/
ALTER TABLE [dbo].[DncUserRoleMapping]  WITH CHECK ADD  CONSTRAINT [FK_DncUserRoleMapping_DncRole_RoleCode] FOREIGN KEY([RoleCode])
REFERENCES [dbo].[DncRole] ([Code])
GO
ALTER TABLE [dbo].[DncUserRoleMapping] CHECK CONSTRAINT [FK_DncUserRoleMapping_DncRole_RoleCode]
GO
/****** Object:  ForeignKey [FK_DncUserRoleMapping_DncUser_UserGuid]    Script Date: 02/26/2021 17:41:25 ******/
ALTER TABLE [dbo].[DncUserRoleMapping]  WITH CHECK ADD  CONSTRAINT [FK_DncUserRoleMapping_DncUser_UserGuid] FOREIGN KEY([UserGuid])
REFERENCES [dbo].[DncUser] ([Guid])
GO
ALTER TABLE [dbo].[DncUserRoleMapping] CHECK CONSTRAINT [FK_DncUserRoleMapping_DncUser_UserGuid]
GO
